body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

.header {
    display: flex;
    padding: 3vh;
    background-color: #a1a1aa;
    justify-content: center;
    font-size: 50px;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
}



.readBooks{
    min-height: 30vh;
    padding: 2vw;
    width: 70vw;
    overflow: auto;
    display: grid;
    background-color: rgb(228, 228, 231);
    border:1px solid black;
    border-left:50px solid transparent;
    border-right:50px solid transparent;
    gap: 15px;
    grid-template-columns: repeat(auto-fill, minmax(175px, 1fr));
}

.book{
    padding: 10px 30px 10px 30px;
    background-color: #78716c;
    height: calc(28vh*1.4);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 2px solid black;
}

.secondDiv{
    display: flex;
    justify-content: center;
}
#form{
    border: 1px solid black;
    border-radius: 10px;
    width: 30vw;
    padding: 15px;
    background-color: rgb(214, 211, 170);
    display: none;
    flex-direction: column;
    gap: 15px;
}

form>div{
    display: flex;
    justify-content: space-between;
}

label {
    display: inline-block;
    width: 150px;
}

#checkbox{
    display: flex;
    justify-content: space-between;
}

#submit{
    display: flex;
    justify-content: center;
}

.submit{
    border-radius: 5px;
    padding: 0vw 2vw 0vw 2vw;
}

.addBook{
    border-radius: 5px;
    width: max(50px,15vw);
    height: 35px;
    justify-content: center;
    align-items: center;
}
.addBookSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50vw;
    gap: 15px;
}

.readbutton{
    background-color: red;
    border: 0;
}
.read{
    background-color: green;
}