body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

.header {
    display: flex;
    padding: 3vh;
    background-color: wheat;
    justify-content: center;
    font-size: 50px;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
}



.readBooks{
    min-height: 24vh;
    padding: 15px;
    width: 70vw;
    overflow: auto;
    display: grid;
    background-color: skyblue;
    gap: 15px;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
}
.book{
    padding: 10px;
    background-color: orange;
    height: calc(28vh*1.4);
    width: calc(15vw+100px);
}
#form{
    width: 30vw;
    padding: 15px;
    background-color: palegoldenrod;
    display: none;
    flex-direction: column;
    gap: 15px;
    
}

form>div{
    display: flex;
    justify-content: space-between;
}

label {
    display: inline-block;
    width: 150px;
}
#checkbox{
    justify-content: space-between;
}
.addBook{
    
    width: max(50px,15vw);
    height: 35px;
    justify-content: center;
    align-items: center;
}
.addBookSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50vw;
}
.readbutton{
    background-color: red;
}
.read{
    background-color: green;
}
